# S3-compatible storage (MinIO server)
MICROBIAL_DATA_STORAGE_MODE=minio
MICROBIAL_DATA_MINIO_ENDPOINT=https://s3.phuongdong.cloud
MICROBIAL_DATA_MINIO_ACCESS_KEY=your-minio-access-key
MICROBIAL_DATA_MINIO_SECRET_KEY=your-minio-secret-key
MICROBIAL_DATA_MINIO_BUCKET=microbial-dna-compiler
MICROBIAL_DATA_MINIO_REGION=
MICROBIAL_DATA_MINIO_SECURE=true
MICROBIAL_DATA_MINIO_PREFIX=libs/data/models

# Create from here: https://www.ncbi.nlm.nih.gov/account/
MICROBIAL_DATA_NCBI_TOOL=microbial-dna-compiler
MICROBIAL_DATA_NCBI_EMAIL=you@example.com
MICROBIAL_DATA_NCBI_API_KEY=


# Local Docker MinIO configuration (optional)
MINIO_ROOT_USER=your-minio-access-key
MINIO_ROOT_PASSWORD=your-minio-secret-key
# MINIO_API_PORT=9002
# MINIO_CONSOLE_PORT=9003
